
body{
  background-color: #A6B9F3;
  background-image: url("../img/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#box1,
#box2,
#box3{
  border-style: solid;
  border-width: 1px;
  border-color: white;
  margin: 25px 25px 50px 25px;
  padding: 4px 50px 75px 10px;
  font-family: "Lucida Console", "Courier New", monospace;
}

#box1{
  max-width: 450px;
  height: 500px;
}

.leftcolumn{
  width: 75%;
  float: left;
  background-color: lightgrey;
}

.rightcolumn{
  float: left;
  max-width: 430px;
  height: 500px;
}

#name{
  border-style: solid;
  border-width: .5px;
  border-color: darkcyan;
  margin: -2px -47px 5px -8px;
  padding-left: 4px;
  background-color: darkcyan;
  color: white;
  font-size: 15px;
}

#box2,
#box3{
  background-color: lightgrey;
}

.rightcolumn .headings{
  border-style: solid;
  border-width: .5px;
  border-color: darkcyan;
  margin: -2px -47px 5px -8px;
  padding-left: 4px;
  background-color: darkcyan;
  color: white;
  font-size: 15px;
}

.leftcolumn .headings{
  padding-top: 75px;
}

#title{
  font-family: "Courier New", monospace;
  text-align: center;
  text-transform: uppercase;
}
