*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: lightblue;
}

.title-section{
  /* outline: 1px solid black; */
  text-align: center;
  padding: 1em;
  background-color: white;
  max-width: 25em;
  margin: 2em auto;
  position: relative;
  font-size: 20px;
}

.title-section::before{
  content: "";
  position: absolute;
  height: 1em;
  width: 4em;
  background-color: rgba(169, 169, 169, 0.5);
  transform: rotate(-45deg);
  top: 0.2em;
  left: -1.2em;
}

.title-section::after{
  content: "";
  position: absolute;
  height: 1em;
  width: 4em;
  background-color: rgba(169, 169, 169, 0.5);
  transform: rotate(-45deg);
  bottom: 0.2em;
  right: -1.2em;
}

.img-header{
  background-image: url(../img/header.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 35vh;
}

.main-content{
  /* outline: 2px solid black; */
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
}

/* dashboard styling */
/* topbar */
.topbar{
  border-radius: 15px 15px 0 0;
  border: 1px solid black;
  position: relative;
}

.topbar span{
  position: relative;
  left: 0.7rem;
  top: 0.1rem;
  font-size: 12px;
}

.tab{
  width: 4rem;
  height: 1.05rem;
  background: black;
  position: absolute;
  top: 0.2rem;
  left: 4.5em;
  border-radius: 5px 5px 0px 0px;
}

.topbar span:nth-child(1){
  color: #ff1919;
}

.topbar span:nth-child(2){
  color: #ffb72e;
}

.topbar span:nth-child(3){
  color: #00bb00;
}

/* search bar styling */
.search-bar{
  border: 1px solid black;
  position: relative;
}

.search-bar span{
  position: relative;
  left: 0.6rem;
  top: 0.1rem;
  margin: 0.1rem;
  font-size: 13px;
}

.search-bar input{
  margin-left: 1rem;
  border-radius: 10px;
  border: none;
  position: absolute;
  top: 0.14rem;
  width: 70%;
  background: lightgrey;
}

/* pfp styling */
.pfp{
  position: absolute;
  right: 0.5rem;
  top: 0.1rem;
  width: 1em;
  border-radius: 50%;
}

/* dashboard glass styling */
.glass{
  background: linear-gradient(to right bottom, #ffffff80, #ffffff40);
  border-radius: 1rem;
  margin: 2em 1em;
}

/* dashboard content styling */
.picture{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.picture img{
  width: 30%;
  height: auto;
  border-radius: 50%;
}

.dashboard{
  display: flex;
}

.glass{
  background: linear-gradient(to right bottom, #ffffff80, #ffffff40);
  border-radius: 1rem;
  margin: 2em 1em;
  position: relative;
}

.left-column{
  max-width: 75%;
}

.right-column{
  max-width: 25%;
  margin: 2em 2em;
}

/* left dash styling */
.left-dash{
  /* outline: 1px solid black; */
  min-height: 60vh;
  flex: 1;
  background: linear-gradient(to right bottom, #ffffff80, #ffffff40);
  border-radius: 0 2rem 2rem 1rem;
}

.user-title{
  text-align: center;
}

.caption{
  margin: 2em 1em;
}

/* right dash styling */
.right-dash{
  /* outline: 1px solid black; */
  flex: 2;
  margin: 2rem 2rem 0 2rem;
}

.section-title{margin-bottom: 1.5rem;}

.section-title input,
.sidebar input{
  background-color: grey;
  border: none;
  border-radius: 1rem;
  min-width: 25%;
  height: 1vh;
}

.btn-container{
  display: flex;
  justify-content: space-evenly;
}

/* card info styling */
.card-holder{
  position: relative;
  margin-top: 2em;
}

.card{
  display: none;
  top: 0;
  left: 0;
  background: linear-gradient(to left top, #ffffff, #ffffff70);
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
}

.context-img{
  max-width: 10vw;
  height: auto;
  object-fit: contain;
}

.challenge-section p,
.problem-section p,
.card-info p{
  margin: 1rem;
}

#challenge-section,
#problem-section,
.card-info{
  display: flex;
}

#output{
  margin: 2em 1em;
}

li{
  list-style-type: "💜";
  margin: 1rem;
}

li::marker{
  font-size: 0.9em;
}

/* sidebar styling */
.sidebar{
  /* outline: 1px solid black; */
  background: linear-gradient(to left top, #ffffff, #ffffff70);
  border-radius: 1.5rem;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
  min-height: 130vh;
  display: inline-block;
}

.reminder, .quote{
  border-bottom: 1px solid black;
}

.reminder, .quote, .links{
  padding: 2em 2em 8em 2em;
}

.links .button{
  display: flex;
  flex-direction: column;
}

#daily-reminder, #daily-quote{
  margin-top: 1em;
}

.sidebar-img{
  max-width: 15vw;
  height: auto;
  object-fit: contain;
}

#character-reminder, #character-quote{
  display: none;
}

.step-one{
  max-width: 50%;
}
